.ut-title h5 {
  opacity: 0.7;
  padding-top: 15px;
  margin: 0px;
  z-index: -5;
}
.ut-title h1 {
  font-size: 55px;
  z-index: -5;
}
.ut-title #arab {
  font-size: 50px;
  z-index: -5;
}

.spec-title {
  text-align: center;
  width: 100%;
  /* border: solid green; */
  margin: 0;
}

.about-future {
  width: 100%;
  height: 40dvh;
  margin-top: 10px;
  border: solid;
  border-radius: 10px;
  background-color: #00072dbd;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about-future .info {
  width: 60%;
  height: auto;
  /* border: solid orange; */
  text-align: right;
}

.about-future .info p {
  font-size: larger;
  font-weight: 500;
}
.about-future .button {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  /* border: solid yellow; */
}

.about-future .button .btn {
  margin: auto;
  width: 250px;
  height: 50px;
}
.specializations {
  width: 100%;
  height: 600px;
  margin-top: 20px;
  border: solid black;
  display: flex;
  align-items: center;
}
.specializations .pic {
  width: 50%;
  height: 80%;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.089);
  border: solid yellow;
}
.specializations .pic img {
  width: 100%;
  height: 100%;
}
.specializations .info {
  width: 50%;
  height: 80%;
  border: solid gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specializations .info .cont {
  width: 80%;
  height: 80%;

  /* border: solid; */
}
.specializations .info .cont h1 {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 400;
}
.big-title {
  font-size: 70px;
  font-weight: 400;
}
.specializations .info .cont p {
  margin-left: 20px;
  font-size: 18px;
  color: rgba(70, 65, 65, 0.774);
}
.spec-main {
  /* border: solid red; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(219, 219, 213, 255);
  z-index: 0;
}

.spec-main .pic {
  width: 880px;
  height: 623px;
  /* border: solid gold; */
}

.spec-main .pic img {
  width: 100%;
  height: 100%;
  z-index: 0;
}

/* .relative-img {
  position: relative;
} */
/* .spec-main .mapping {
  border: solid rebeccapurple;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
} */
/* map {
  border: solid red;
  height: 70px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
area {
  border: solid green;
  width: 100px;
  height: 50px;
  display: inline-block;
  margin: 20px;
}

/* CSS for the hover effect */

.strategy {
  width: 100%;
  height: 98vh;
  /* border: solid red; */
}
.strategy-title {
  width: 100%;
  height: 12%;
  border: solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.strategy-title h1 {
  display: inline-block;
  margin: auto;
  /* border: solid; */
  font-size: 900;
}
.strategy-title h4 {
  opacity: 0.7;
  padding-top: 15px;
  margin: 0px;
  z-index: -5;
  display: inline-block;
  /* border: solid rebeccapurple; */
}
.strategy .strategy-title .float-right {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* border: solid magenta; */
  align-items: flex-end;
}
.strategy .strategy-info {
  width: 100%;
  height: 87%;
  /* border: solid rebeccapurple; */
  display: flex;

  justify-content: flex-end;
}
.strategy .strategy-pic {
  height: 90%;
  width: 30%;
  margin-top: 20px;
  /* border: solid; */
}
.strategy .strategy-info .strategy-pic img {
  width: 100%;
  height: 100%;
}
.strategy .strategy-info .st-content {
  width: 55%;
  height: 100%;
  /* border: solid gold; */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 40px;
  overflow: scroll;
}
.h2-edit {
  /* border: solid red; */
  display: inline-block;
  color: rgba(14, 14, 110, 0.836);
  margin-right: 20px;
  margin-top: 5px;
}
.paragraph {
  display: inline-block;
  width: 70%;
  height: auto;
  text-align: right;
  font-size: 500;
  font-weight: 500;
  background-color: #656d6f25;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 0px 10px 0px;
}
.margin {
  margin-right: 40px;
  width: 53%;
}
.h3-edit {
  /* border: solid red; */
  display: inline-block;
  color: rgba(201, 134, 10, 0.918);
  margin-right: 20px;
}
.mother-consult {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  /* border: solid orange; */
  justify-content: space-evenly;
  margin-top: 20px;
}
.cons-right {
  width: 48%;
  height: auto;
  /* border: solid red; */
}

.paragraph-accordion {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: right;
  font-size: 17px;
  font-weight: 100;
  background-color: #656d6f25;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px 0px 10px 0px;
}
.consult {
  width: 100%;
  height: auto;
  /* border: solid red; */
  margin-top: 10px;
}

.strategy-title-consult {
  width: 100%;
  height: 100px;
  /* border: solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.strategy-title-consult h1 {
  display: inline-block;
  margin: auto;
  /* border: solid; */
  font-size: 900;
}
.strategy-title-consult h4 {
  opacity: 0.7;
  padding-top: 15px;
  margin: 0px;
  z-index: -5;
  display: inline-block;
  /* border: solid rebeccapurple; */
}
.strategy-title-consult .float-right {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* border: solid magenta; */
  align-items: flex-end;
}
.marginTop {
  margin-top: 20px;
}
